<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Edit Student</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
            width: 80%;
            max-width: 500px;
        }

        h1 {
            color: #007bff;
            font-size: 28px;
            margin-bottom: 20px;
            text-align: center;
        }

        form {
            text-align: left;
        }

        label {
            font-weight: bold;
            margin-bottom: 5px;
            display: block;
        }

        input[type="text"],
        input[type="file"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        input[type="submit"] {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 18px;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Edit Student</h1>
        <form method="POST" action="/student_edit/<%= students._id %>" enctype="multipart/form-data">
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" value="<%= students.first_name %>">
            <br>
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" value="<%= students.last_name %>">
            <br>
            <label for="marks">Marks:</label>
            <input type="text" id="marks" name="marks" value="<%= students.marks %>">
            <br>
            <label for="attendance">Attendance:</label>
            <input type="text" id="attendance" name="attendance" value="<%= students.attendance %>">
            <br>
            <label for="profile_pic">Profile Picture:</label>
            <input type="file" id="student_pic" name="student_pic">
            <br>
            <input type="submit" value="Update">
        </form>
    </div>
</body>
</html>
